body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: calibri;
  color: #fff;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
  background: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: dodgerblue;
}

.wrapper {
  height: 100%;
  width: 70%;
  min-width: fit-content;
  background: #0000004d;
  border-radius: 4px;
}
.wrapper .emptySpace {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.container {
  height: 100%;
  width: 30%;
  min-width: fit-content;
  background: #2c2c2c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.container .topNavParent {
  background: #1d1d1d;
  text-align: end;
  flex-grow: 1;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.container .topNavParent svg path {
  cursor: pointer;
  fill: rgba(0, 179, 250, 0.336);
}

.container .notesList {
  background: tomato;
  width: 100%;
  flex-grow: 100;
  overflow-x: hidden;
  overflow-y: auto;
}

.container .addNote {
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
  background: #8300fd;
  color: #fff;
  font-weight: 800;
  font-size: large;
  border-radius: 0 0 4px 4px;
  padding: 10px 15px;
  flex-grow: 1;
}

.topNavParent div {
  background: #ff000056;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}
