body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
* {
  outline: none;
  font-family: calibri;
  transition: all 0.3s;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
  background: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: dodgerblue;
}

.wrapper {
  height: 100%;
  width: 70%;
  min-width: fit-content;
  background: #0000004d;
  border-radius: 4px;
}
.wrapper .emptySpace {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;
  user-select: none;
  color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.267);
}

.container {
  height: 100%;
  width: 30%;
  min-width: fit-content;
  background: #2c2c2c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.container .topNavParent {
  background: #1d1d1d;
  text-align: end;
  flex-grow: 1;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.container .addNote {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #8300fd;
  color: #fff;
  font-weight: 900;
  font-size: x-large;
  border-radius: 0 0 4px 4px;
  padding: 10px 15px;
  flex-grow: 1;
}
.addNote:hover {
  text-shadow: 0 3px 5px #000;
  font-size: xx-large;
}
.addNote:active {
  text-shadow: none;
  font-size: x-large;
}

.topNavParent div {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px #fff, 0 0 4px #fff;
  padding: 3px;
  border-radius: 100px;
}

.topNavParent div:hover {
  box-shadow: 0 0 8px dodgerblue, 0 0 8px dodgerblue;
}

/*-*/
.container .notesList {
  background: #00ffbf;
  width: 100%;
  flex-grow: 100;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0;
}

.notesList .notes {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notesList .notes textarea {
  padding: 10px;
  width: calc(100% - 30px);
  border-radius: 0 0 5px 5px;
  height: 100px;
  resize: none;
  overflow: hidden;
  margin-top: 0px;
  border: 2px solid dodgerblue;
  font-size: large;
}
/*************************************/
.notesList .notes input[type="text"] {
  font-size: large;
  margin: 0;
  padding: 10px;
  width: 70%;
  border: none;
  height: 100%;
  border-radius: 5px 0 0 0;
  border-right: 2px solid dodgerblue;
}
.notes .deleteNote {
  border-radius: 0 5px 0 0;
  width: 30%;
  background: white;
  border: none;
  border-left: 2px solid dodgerblue;
}
.notes .deleteNote svg {
  cursor: pointer;
}
.notes .temp {
  display: flex;
  border: 2px solid dodgerblue;
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
  width: calc(100% - 10px);
}
