body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
* {
  outline: none;
  font-family: calibri;
  transition: all 0.3s;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 100px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: dodgerblue;
  box-shadow: inset 1px 0 2px #000;
}

.imgWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s;
  user-select: none;
  display: none;
  padding: 0 10px;
}
.imgWrapper .imgViewer {
  max-width: 95%;
  max-height: 90%;
}
.imgWrapper .closeImgWrapper {
  cursor: pointer;
}
.closeImgWrapper svg {
  background: #000;
  border-radius: 100%;
  box-shadow: 0 0 10px 0 #fff;
}

.container {
  height: 100%;
  width: 30%;
  min-width: 50px;
  max-width: 30%;
  background: #2c2c2c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.container .topNavParent {
  background: #1d1d1d;
  text-align: end;
  flex-grow: 1;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.container .addNote {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border: none;
  background: #8300fd;
  color: #fff;
  font-weight: 900;
  font-size: x-large;
  border-radius: 0 0 4px 4px;
  padding: 10px 15px;
  flex-grow: 1;
}
.addNote:hover svg {
  filter: drop-shadow(0 0 5px #fff);
}
.addNote:active {
  text-shadow: none;
}

.topNavParent div.hideSidebar {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px #fff, 0 0 4px #fff;
  padding: 3px;
  border-radius: 100px;
}

.topNavParent div.hideSidebar:hover {
  box-shadow: 0 0 8px dodgerblue, 0 0 8px dodgerblue;
}
.topNavParent div.searchForNotes {
  user-select: none;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topNavParent div.searchForNotes input {
  border: none;
  background: transparent;
  height: 80%;
  width: 100%;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 15px;
}
div.searchForNotes span.filter {
  scale: 0.8;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/*-*/
.container .notesList {
  background: dodgerblue;
  width: 100%;
  flex-grow: 100;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0;
}

.notesList .notes {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notesList .notes .noteCategory {
  padding: 5px;
  max-width: calc(100% - 20px);
  width: calc(100% - 20px);

  height: 25px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
}
.notes .noteCategory:hover {
  cursor: pointer;
  opacity: 0.9;
}
.notesList .notes .noteInfo {
  border-top: 2px solid dodgerblue;
  padding: 5px;
  max-width: calc(100% - 20px);
  width: calc(100% - 20px);
  height: 25px;
  border-radius: 0 0 5px 5px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
}
.notesList .notes .noteContent {
  display: none;
}
/*************************************/
.notes .parentTop {
  display: flex;
  border: 2px solid dodgerblue;
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
  width: calc(100% - 10px);
}
.notesList .notes input[type="text"] {
  font-size: large;
  font-weight: 800;
  margin: 0;
  padding: 10px;
  width: 70%;
  border: none;
  height: 100%;
  border-radius: 5px 0 0 0;
  border-right: 1px solid dodgerblue;
}
.notes .deleteNote {
  border-radius: 0 5px 0 0;
  width: 30%;
  background: white;
  border: none;
  border-left: 1px solid dodgerblue;
}
button svg {
  cursor: pointer;
}

.wrapper {
  height: 100%;
  width: 70%;
  background: #0000004d;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.wrapper div.noteContentInEditView {
  white-space: break-spaces;
  font-size: large;
  overflow: auto;
  padding: 10px;
  width: calc(100% - 20px);
  height: 90%;
  border-top: 2px solid dodgerblue;
}
div.noteContentInEditView img {
  cursor: pointer;
  max-width: 50vw;
  max-height: 50vh;
}
.wrapper div.topParentForTitleDelInEditView {
  width: 100%;
  height: 10%;
  min-height: 30px;
  display: flex;
}
.wrapper input.noteTitleInEditView {
  padding: 0 10px;
  height: 100%;
  width: calc(100% - 20px);
  border: none;
  background: #fff;
  font-weight: 800;
  border-right: 2px solid dodgerblue;
  font-size: large;
}

.wrapper button.deleteNote {
  background: #fff;
  width: 100px;
  border: none;
  border-left: 2px solid dodgerblue;
}
.wrapper button.noteColor {
  background: #fff;
  width: 100px;
  border: none;
}

:disabled,
:disabled svg,
[contenteditable="false"] {
  background: #ffffff;
  opacity: 0.8;
  cursor: auto;
}
.colorPalette {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 180px;
  height: fit-content;
  display: none;
  grid-gap: 8px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.colorPalette.colorPaletteShown {
  display: grid !important;
}
.colorPalette .colorSet {
  cursor: pointer;
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  background: var(--background);
  color: var(--color);
  height: 40px;
  width: 40px;
}
